$color_fuente: #e2e2e2;
$color_primario: #ffd12a;
$fondo_primario: #000000;

body {
  background-color: #000000; 
  font-family: 'Montserrat', sans-serif;
}

.body1 {
  background-image: url(../media/bg_home.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

.body2 {
  background-image: url(../media/bg_bio.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

.body3 {
  background-image: url(../media/bg_shop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}

h1{
  font-family: 'Bad Script', cursive;
  color: $color_fuente;
}

.bodyContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 0; 
}

// Index

@keyframes big{
  50%{transform: scale(1.05);}
}

.circle{
  height: 650px;
  width: 650px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.801);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 80px;
    font-weight: 100px;

    animation-name: big;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 0;
  }

  .menu{
    ul{
      display: flex;
      flex-direction: row;
      margin: 10px;
    }
      li{
      list-style: none;
        a{
          font-family: 'Kaushan Script', cursive;
          text-decoration: none;
          color: $color_fuente;
          font-size: 50px;
          padding: 20px;
        }
        a:hover{
          text-shadow: 0px 0px 15px white;
        }
      }
  }

}

.menuMobil{
  display: none;
}

// Bio

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  width: 100%;

  a{
    text-decoration: none;
  }
  .header__logo{
    font-size: 80px;
    font-family: 'Bad Script', cursive;
    color: $color_fuente;
    font-size: 70px;
    font-weight: 100px;
    padding: 0px 10px;
  }

  .header__logo:hover{
      transform: scale(1.05);
      cursor: pointer;
      
  }

  .menu2{
    ul{
      list-style-type: none;
      overflow: hidden;
      background-color: transparent;
      padding: 5px 10px;
    }
    li {
      float: left;
      a {
        font-family: 'Kaushan Script', cursive;
        display: block;
        color: $color_fuente;
        text-align: center;
        padding: 10px 30px;
        font-size: 40px;
        text-decoration: none;
      }
      a:hover {
        text-shadow: 0px 0px 15px white;
      }
    }
  }

  .menuMobil2{
      display: none;
  }
}

.bio{
  margin: 2% 15%;
  h2{
    font-size: 50px;
    color: $color_fuente;
    padding-left: 15px;
  }
  p{
    font-size: 25px;
    color: $color_fuente;
    text-align: justify;
  }
}

.shop{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 100vw;
  h2{
    font-size: 50px;
    color: $color_fuente;
    padding-left: 15px;
    text-align: center;
    margin-bottom: 15px;
  }
  .shop-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    height: 120%;
    #filters{
      border-radius: 15px;
      background-color: white;
      width: 15%;
      height: 100%;
      h3{
        text-align: center;
        font-weight: 700;
        margin-top: 10px;
      }
    }
    #products{
      border-radius: 15px;
      background-color: white;
      width: 55%;
      height: 100%;
      
      .productsClass{  
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: 10px;
        overflow-x: auto;
        overflow-y: hidden;
        .card-paint{
          width: 280px;
          height: 350px;
          background-color: rgb(245, 245, 245);
          border-radius: 15px;
          box-shadow: 5px 10px 8px #888888;
          margin: 20px;
          padding: 20px;
  
          .paint{
            width: 230px;
            height: 230px;
          }
          p{
            margin-bottom: 0px;
            color: black;
            font-weight: 600;
          }
          .buttonAdd{
            font-weight: bold;
            color: rgb(0, 0, 0);
            background-color: rgb(250, 246, 4);
            border: 0px;
            border-radius: 10px;
            margin-left: 200px;
          }
  
        }
      }
    }
    
    #shoppingCart{
      border-radius: 15px;
      background-color: white;
      width: 100%;     
      form{
        display: flex;
        flex-direction: column;
      }
      h3{
        text-align: center;
        font-weight: 700;
        margin-top: 10px;
      }
      p{
        margin-bottom: 0px;
        color: black;
        font-weight: 600;
      }
      div{
        display: flex;
      }
      h4{
        padding-right: 10px;
        font-weight: 900;
      }
      .buttonTrash{
        border: none;
        background: none;
        align-self: end;
        margin-right: 10px;
      }

    }
  }
}